{
  "env": {
    "browser": true
  },

  "rules":{
    "no-console":0

  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "POKEMON": false,
    "GlobalPoke": false
  }
}
