{
  "env": {
    "browser": true
  },

  "rules":{
    "no-console":0

  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "example": false,
    "computeStats": false,
    "filterData": false,
    "sortData": false,
    "POKEMON": false,
    "functionsPokemon": false
 

  }
}
