{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "example": false,
    "sortData": false,
    "filterData": false,
    "computeStats": false
  }
}
