*{
text-align: center;}
body{

background: rgb(23, 192, 119);
opacity: 80%;

}
.color-main{
    
    background: rgba(16, 17, 16, 0.534);
    color: white;
    font-size: 100%;
    display: inline;
    
    padding: 3%;
    font-family: 'Montserrat', sans-serif;
        
}
.pokeBox{
    width: 20%;
    float: left;
    box-sizing: border-box;
    background:rgb(50, 218, 178)  ;
    
    padding: 8px;

}
.img{
    width: 80%; 
    background: white;
   border-radius: 50%;
}
a{
    color: aliceblue;
    
}
h1{
    margin-top: 5%;
}
