*{
text-align: center;
font-family: 'Montserrat', sans-serif;
}

body{
background: rgb(23, 192, 119);
display: inline;

}

.cont-main{
    width: 70%;
}
.header_poke{
    
    background: rgba(18, 137, 216, 0.534);
    
    font-size: 100%;
    box-sizing: border-box;
    width: 100%;
    margin: 2%;
    padding: 3%;
    
        
}
.li-item{
    background: rgba(18, 137, 216, 0.534);
    display: inline;
    color: white;
    border:5%;
    padding: 30px;
    box-sizing: border-box;
    font-size: 200%;
}
.pokeview{
    width: 70%;

}
.pokeBox{
    width: 20%;
    float: left;
    border-radius: 20px;
    box-sizing: border-box;
    background:rgb(50, 218, 178)  ;
    padding: 8px;

}


aside{
    width: 30%;
    background: rgb(50, 218, 178);
    float: right;
    border-radius: 10px;
}



.types_items{
   
    border-radius: 20px;
    margin: 2%;
    padding: 10px;
    
    display:  block;
    box-sizing: border-box;
    font-family:  black, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
;    
}

.img{
    width: 80%; 
    background: white;
   border-radius: 50%;
}

h1{
    
    background:#E8B319 opacity 30%;
    width: 85%;
    
    padding: 5%;
}
h2{
   font-size:  90%;
}
