html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
}
body {
  /* position: absolute;
  width: 100%;
  height: 100%; */
  background: url(fondo.png);
  background-position: no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1a1b1bf3;
  background-size: cover;
  border-image-width: 50%;
}
.color-font {
  background-color: rgba(255, 255, 255, 0.685);
  border-radius: 15px;
  /* color: white; */
}
.cont-data {
  position: absolute;
  width: 935px;
  height: 589px;
  left: calc(50% - 935px / 2 - 212.5px);
  top: calc(50% - 589px / 2 + 109.5px);

  /* Green 3 */
  
  border: 3px solid #6fcf97;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.616);
  border-radius: 15px;
}
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
[class*="col-"] {
  /* margin: 2%; */
  padding: 5px;
  box-sizing: border-box;
  float: left;
}
.grid {
  min-height: 100%;
  box-shadow: 0px 4px 4px rgba(202, 235, 17, 0.473);
  background: #81c7276b;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 10fr));
  grid-gap: 3%;
  border-radius: 15px;
  padding: 5%;
}
.grid > * {
  padding: 2%;
  text-align: center;
  background-color: rgba(18, 22, 57, 0.7);
  border-radius: 15px;
}
aside {
  background: #6fcf7783;
  box-shadow: 0px 4px 4px rgba(202, 235, 17, 0.473);
  width: 25%;
  float: right;
  height: 30em; /*por borrar*/
  margin-right: 3%;
  padding: 0.5rem;
  padding-left: 0.5rem;
}
.space-left {
  float: left;
}
.size-cont {
  width: 50rem;
  overflow-block: hidden;
  margin-left: 3%;
  height: 30em;
}
article {
  width: 100%;
}

.scroll {
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}

.head {
  width: 30%;
}

footer {
  overflow: hidden;
  height: 10px;
  /* background: black; */
}
.col-xs-12 {
  width: 100%;
}
.col-sm-6 {
  width: 50%;
}
.col-ml-3 {
  width: 25%;
}
.style-btn {
  width: 70%;
  padding: 2%;
  border-radius: 15px;
  font-size: 17px;
  margin: 10%;
  color: black;
}
.stata-style{
  width: 70%;
  padding: 2%;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  margin: 10%;
}

/* *{
text-align: center;}
body{  
text-align: center;
font-family: 'Montserrat', sans-serif;
}

body{
background: rgb(23, 192, 119);
display: inline;

}

.cont-main{
    width: 70%;
}

.menu{
    display: block;
    padding-top:1.9%;
}
 .sub-menu{
display: inline;
margin-right: 3%;
color: aliceblue;   
font-size: 110%;



}
.li-item{
    background: rgba(18, 137, 216, 0.534);
    display: inline;
    color: white;
    border:5%;
    padding: 30px;
    box-sizing: border-box;
    font-size: 200%;
}
.pokeview{
    width: 70%;

}
.pokeBox{
    width: 20%;
    float: left;
    border-radius: 20px;
    box-sizing: border-box;
    background:rgb(50, 218, 178)  ;
    padding: 8px;

}


aside{
    width: 30%;
    background: rgb(50, 218, 178);
    float: right;
    border-radius: 10px;
}



.types_items{
   
    border-radius: 20px;
    margin: 2%;
    padding: 10px;
    
    display:  block;
    box-sizing: border-box;
    font-family:  black, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
;    
}

.img{
    width: 80%; 
    background: white;
   border-radius: 50%;
}

h1{
    
    background:#E8B319 opacity 30%;
    width: 85%;
    
    padding: 5%;
}
h3{
    margin-bottom: 0.4%;
}
/* probando slide  */
/* 
.slider {
	width: 100%;
	margin: auto;
    overflow: hidden;
    /* height: 200px; */
/* 
    background-color: #1a1b1be0;
    
    
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 30%;
	list-style: none;
}

.slider img {
    width: 30%;
    background-attachment: fixed; 
  background-repeat: no-repeat;
  background-position: center;
  
  background-size: cover;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
header{
    background-image: url(image/slide-c.jpg);
    /* background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1a1b1bf3; */
/* background-size: 60%; */
/* } */
