html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
}
.head {
  width: 50%;
}
body {
  background: url(image/fondo.png);
  background-position: no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1a1b1bf3;
  background-size: cover;

  border-image-width: 50%;
  font-size: 16px;
}
.color-font {
  background-color: rgba(255, 255, 255, 0.685);
  border-radius: 15px;
}
.cont-data {
  position: absolute;
  width: 935px;
  height: 589px;
  left: calc(50% - 935px / 2 - 212.5px);
  top: calc(50% - 589px / 2 + 109.5px);

  /* Green 3 */

  border: 3px solid #6fcf97;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.616);
  border-radius: 15px;
}
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
[class*="col-"] {
  /* margin: 2%; */
  padding: 5px;
  box-sizing: border-box;
  float: left;
}
.grid {
  min-height: 100%;
  box-shadow: 0px 4px 4px rgba(202, 235, 17, 0.473);
  background: #81c7276b;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 3%;
  border-radius: 15px;
  padding: 5%;
}
.grid > * {
  padding: 2%;
  text-align: center;
  background-color: rgba(18, 22, 57, 0.7);
  border-radius: 15px;
}
aside {
  background: #6fcf7783;
  box-shadow: 0px 4px 4px rgba(202, 235, 17, 0.473);
  width: 25%;
  float: right;
  height: 30em; /*por borrar*/
  margin-right: 3%;
  padding: 0.5rem;
  border-radius: 15px;
  padding-left: 0.5rem;
}
.space-left {
  float: left;
}
.size-cont {
  width: 50rem;
  overflow-block: hidden;
  margin-left: 3%;
  height: 30em;
}
article {
  width: 100%;
}

.scroll {
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}

.head {
  width: 30%;
}

footer {
  overflow: hidden;
  height: 10px;
}
.col-xs-12 {
  width: 100%;
}
.col-sm-6 {
  width: 50%;
}
.col-ml-3 {
  width: 25%;
}
.style-btn {
  width: 70%;
  padding: 2%;
  border-radius: 15px;
  font-size: 16px;
  margin: 10%;
  color: black;
  background-color: white;
}
.style-title {
  font-size: 15px;
  color: rgba(177, 223, 52, 0.733);
}
.style-draw {
  border-radius: 15px;
  background: #1a1b1bf3;
}

/* media query*/

@media screen and (max-width: 75em) {
  /* .header {
    background-color: red;
  } */
  .head {
    width: 50%;
  }
  .size-cont {
    width: 40rem;
    height: 32rem;
    overflow-block: hidden;
    padding: 0.5rem;
  }
  aside {
    margin-top: 1%;
    font-size: 13px;
    width: 15rem;
    height: 32rem;

    border-radius: 15px;
    float: auto;
    padding: 0.5rem;
  }
  .style-btn {
    font-size: 13px;
    width: 80%;
    height: 3%;
  }
}
@media screen and (max-width: 60rem) {
  /* .header {
    background-color: blue;
  } */
  .head {
    width: 50%;
  }
  .size-cont {
    width: 25rem;
    margin-top: 3%;
    height: 27rem;
    overflow-block: hidden;
    padding: 0.5rem;
    border-radius: 15px;
  }
  aside {
    margin-top: 5%;
    font-size: 13px;
    width: 15rem;
    height: 27rem;
    border-radius: 15px;
    float: auto;
    padding: 0.5rem;
  }
  .style-btn {
    font-size: 13px;
    width: 80%;
    height: 3%;
  }
}
@media screen and (max-width: 42em) {
  .header {
    /* background-color: green; */
    width: 100%;
    height: auto;
  }
  .head {
    width: 50%;
  }
  .size-cont {
    margin-top: 5%;
    width: 21rem;
    height: 31rem;
    margin-left: 1%;
  }
  aside {
    padding-left: 0.5rem;
    margin-top: 10%;
    font-size: 13px;
    border-radius: 15px;
    width: 10rem;
    height: 31rem;
  }
  .style-btn {
    width: 86%;
    font-size: 13px;
  }
}

@media screen and (max-width: 30em) {
  /* .header {
    background-color: rgba(179, 114, 163);
  } */
  .head {
    width: 90%;
  }
  .size-cont {
    margin-top: 5%;
    width: 13rem;
    height: 31rem;
    overflow-block: hidden;
    padding: 0.5rem;
  }
  aside {
    padding: 0.5rem;
    margin-top: 5%;
    font-size: 10px;
    width: 8rem;
    border-radius: 15px;
    height: 31rem;
  }
  .style-btn {
    width: 80%;
    font-size: 10px;
    float: center;
  }
}

@media screen and (max-width: 22em) {
  /* .header {
    background-color: brown;
  } */
  .size-cont {
    margin-top: 3%;
    width: 10rem;
    height: 20rem;
  }
  aside {
    margin-top: 3%;
    font-size: 10px;
    width: 7rem;
    height: 20rem;
    float: right;
  }
  .style-btn {
    width: 100%;
    float: left;
    font-size: 10px;
  }
}
